<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h2>Spring Boot Crud System -User Registation</h2>
    <tr>
        <div align="left">
            <h3><a th:href="@{'/new'}">Add new</a></h3>
        </div>

    </tr>
    <tr>

        <div class="col-sm-5" align="center">
            <div class="panel-body" align="center">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="listuser:${listuser}">
                        <td th:text="${listuser.id}">Student ID</td>
                        <td th:text="${listuser.username}">StudentName</td>
                        <td th:text="${listuser.password}">Course</td>

                        <td>
                            <a th:href="@{'/edit/' + ${listuser.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${listuser.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

    </tbody>
    </table>
</div>
</body>
</html>
